{% extends 'account/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<section style="margin-top: 70px;">
	<div class="main">
		<div class="limiter">
			<div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<form enctype="multipart/form-data" method="POST" action="{% url 'post-create' %}" class="login100-form validate-form uniForm">
						<span class="login100-form-title p-b-49">
							Create Your Post
						</span>
						{% csrf_token %}
						{{ form|crispy }}
						
						
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" value="save" class="login100-form-btn">
									Upload
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="dropDownSelect1"></div>
	</div>
</section>
{% endblock content %}	
