{% load static %}
<div class="header">

        <img src="{% static 'img/profile.png' %}" alt="Avatar" class="avatar">
        <div id='search-box'>
          <form action='/search' id='search-form' method='get' target='_top'>
          <input id='search-text' name='q' placeholder='Search' type='text'/>
          <button id='search-button' type='submit'><span>Search</span></button>
          </form>
        </div>
        </div>
        
        <input type="checkbox" id="check">
        <label for="check">
              <i class="fas fa-bars" id="btn"></i>
              <i class="fas fa-times" id="cancel"></i>
            </label>  
            <div class="sidebar">
            <header><a style="color: white;" href="index.html">My Youtube</a></header>
          <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="index.html"><i class="fas fa-link"></i>Home</a></li>
        <li><a href="index.html"><i class="fas fa-stream"></i>Trending</a></li>
        <li><a href="#"><i class="fas fa-calendar-week"></i>Subscribed</a></li>
        <li><a href="#"><i class="far fa-question-circle"></i>Liked</a></li>
        <li><a href="#"><i class="fas fa-sliders-h"></i>Settings</a></li>
        <li><a href="#"><i class="far fa-envelope"></i>Help</a></li>
        </ul>
</div>
