{% extends 'base.html' %}
{% block content %}
<section style="margin-top: 70px;">
  <div class="main">
  <h1>Find your best pick to watch.</h1>
  <ul class="cards">
    {% for post in posts %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="{{post.thumbnail.url}}"></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn"><a  href="{{ post.get_absolute_url }}" class="btn card_btn">Watch now</a></button>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

</section>
{% endblock content %}
