{% extends 'base.html' %}
{% block content %}
{% load static %}
<section style="margin-top: 70px;">
  <div class="row">
   <div class="leftcolumn">
     <div class="card">
      <video autoplay controls width="100%" height="auto">
        <source src="{{ object.file.url }}" type="video/mp4" >
        </video>
       <h5 style=" margin-bottom: 10px; margin-top:2%;" >Uploaded on, {{ object.timestamp }} </h5>
       
        <h2 style=" margin-bottom: 10px;">{{ object.title }}<i class="fa fa-share" style="font-size:30px">Share</i></h2>   
        <div align="right">
        <h4 align="left">{{ object.view_count }}</h4>
         <i class="fa fa-thumbs-o-up " style="font-size:30px">100k </i>
       
          <i class="fa fa-thumbs-o-down " style="font-size:30px">10k</i>
         
      
       </div>
     </div>
     <div class="card" style="margin-top: 10px;">
      <div style="width: 100%; height: auto; margin-top:10px; ">
       <img align="left" src="{{ object.author.profile_picture.url }}" alt="Avatar" class="avatar1">
        <input type="submit" value="SUBSCRIBE" style=" float: right;">
        <h3 style="margin-top: 12px;">{{ object.author.full_name }}</h3>
        <h4 style="margin-top: 1px;"></h4>
      <h3 style="margin-top: 93px;">Description</h3>
      <p style="margin-top: 10px;">{{ object.content }}</p>
      </div>
    </div>
 
 
 <div class="container">
   <form action="/action_page.php">
     
 
     <label for="subject">Comment</label>
     <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>
 
     <input type="submit" value="Submit">
   </form>
 
 
 
 
 

 
 
 
 
 <!-- comments container -->
     <div class="comment_block" style="margin-top: 30px; margin-left: 0;">
 
 
      <!-- new comment -->
      <div class="new_comment">
 
       <!-- build comment -->
       <ul class="user_comment">
 
         <!-- current #{user} avatar -->
         <div class="user_avatar">
           <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg" style="border-radius: 30px 30px 30px 30px">
         </div><!-- the comment body --><div class="comment_body">
           <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p>
         </div>
 
         <!-- comments toolbar -->
         <div class="comment_toolbar">
 
           <!-- inc. date and time -->
           <div class="comment_details">
             <ul>
               <li><i class="fa fa-clock-o"></i> 13:94</li>
               <li><i class="fa fa-calendar"></i> 04/01/2015</li>
               <li><i class="fa fa-pencil"></i> <span class="user">John Smith</span></li>
             </ul>
           </div>
         </div>
 <hr>
 <br>
         <!-- start user replies -->
       <li>
         
         <!-- current #{user} avatar -->
         <div class="user_avatar">
           <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg" style="border-radius: 30px 30px 30px 30px">
         </div><!-- the comment body --><div class="comment_body">
           <p><div class="replied_to"><p><span class="user">John Smith:</span>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p></div>That's exactly what I was thinking!</p>
         </div>
 
         <!-- comments toolbar -->
         <div class="comment_toolbar">
 
           <!-- inc. date and time -->
           <div class="comment_details">
             <ul>
               <li><i class="fa fa-clock-o"></i> 14:52</li>
               <li><i class="fa fa-calendar"></i> 04/01/2015</li>
               <li><i class="fa fa-pencil"></i> <span class="user">Andrew Johnson</span></li>
             </ul>
           </div>
         </div>
 <hr>
 <br>
 
       </li>
 
         <!-- start user replies -->
       <li>
         
         <!-- current #{user} avatar -->
         <div class="user_avatar">
           <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/73.jpg" style="border-radius: 30px 30px 30px 30px">
         </div><!-- the comment body --><div class="comment_body">
           <p><div class="replied_to"><p><span class="user">John Smith:</span>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p></div>Finally someone who actually gets it!<div class="replied_to"><p><span class="user">Andrew Johnson:</span>That's exactly what I was thinking!</p></div>That's awesome!</p>
         </div>
 <hr>
 <br>
 
       </li>
 
       </ul>
 
      </div>
 
 <!-- new comment -->
      <div class="new_comment">
 
       <!-- build comment -->
       <ul class="user_comment">
 
         <!-- current #{user} avatar -->
         <div class="user_avatar">
           <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/73.jpg" style="border-radius: 30px 30px 30px 30px">
         </div><!-- the comment body --><div class="comment_body">
           <p style="margin-top:8px">Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p>
         </div>
 
 
 
       </li>
 
       </ul>
 
      </div>
 
     </div>
 <!------------------->
 
 
 
 
 
 
 
 
 
 
 </div>
     
   </div>
   <div class="rightcolumn">
      <div class="card">
        <div class="card_image"><img src="{{ object.suggestion_first.thumbnail.url }}"></div>
         <div class="card_content">
           <h2 class="card_title">{{ object.suggestion_first.ttitle }}</h2>
           <button onclick="document.location = '{{ object.suggestion_first.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
         </div>
       </div>
       <div class="card">
        <div class="card_image"><img src="{{ object.suggestion_second.thumbnail.url }}"></div>
         <div class="card_content">
           <h2 class="card_title">{{ object.suggestion_second.ttitle }}</h2>=
           <button onclick="document.location = '{{ object.suggestion_second.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
         </div>
       </div>
        <div class="card">
         <div class="card_image"><img src="{{ object.suggestion_third.thumbnail.url }}"></div>
         <div class="card_content">
           <h2 class="card_title">{{ object.suggestion_third.ttitle }}</h2>
           <button onclick="document.location = '{{ object.suggestion_third.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
         </div>
       </div>
        <div class="card">
         <div class="card_image"><img src="{{ object.suggestion_fourth.thumbnail.url }}"></div>
         <div class="card_content">
           <h2 class="card_title">{{ object.suggestion_fourth.ttitle }}</h2>
           <button onclick="document.location = '{{ object.suggestion_fourth.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
         </div>
       </div>
       <div class="card">
        <div class="card_image"><img src="{{ object.suggestion_fifth.thumbnail.url }}"></div>
        <div class="card_content">
          <h2 class="card_title">{{ object.suggestion_fifth.ttitle }}</h2>
          <button onclick="document.location = '{{ object.suggestion_fifth.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
        </div>
      </div>
      <div class="card">
        <div class="card_image"><img src="{{ object.suggestion_sixth.thumbnail.url }}"></div>
        <div class="card_content">
          <h2 class="card_title">{{ object.suggestion_sixth.ttitle }}</h2>
          <button onclick="document.location = '{{ object.suggestion_sixth.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
        </div>
      </div>
      <div class="card">
        <div class="card_image"><img src="{{ object.suggestion_seventh.thumbnail.url }}"></div>
        <div class="card_content">
          <h2 class="card_title">{{ object.suggestion_seventh.ttitle }}</h2>
          <button onclick="document.location = '{{ object.suggestion_seventh.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
        </div>
      </div>
   </div>
 </div>
</section>
{% endblock content %}