{% extends 'base.html' %}
{% block content %}
<section style="margin-top: 70px;">
  <div class="main">
  <h1>Search Results</h1>
  <ul class="cards">
    {% for post in queryset %}
    {% if post in queryset %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="{{post.thumbnail.url}}"></div>
        <div class="card_content">
          <h2 class="card_title">{{ post.title }}</h2>
          <button onclick="document.location = '{{ post.get_absolute_url }}'" class="btn card_btn">Watch Now</button>
        </div>
      </div>
    </li>
    {% else %}
    <h2>Results Not Found</h2>
    {% endif %}
    {% endfor %}
  </ul>
</div>

</section>
{% endblock content %}
